.calendar {
    /* width: 250px; */
    overflow: hidden;
    /* border: 1px solid #000; */
    padding: 40px;
    position: relative;
    box-sizing: border-box;
    margin: 1px auto;
}

.calendarTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #000;
}

.calendar h4 {
    text-align: center;
    margin-bottom: 0;
    font-size: 14px;
}

.prev,
.next {
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.calendar .week {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.calendar .week li {
    width: 30px;
    height: 30px;
    text-align: center;
    list-style: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar .dateList {
    overflow: hidden;
    clear: both;
    /* height: 150px; */
    padding: 0px 10px;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.calendar .dateList li {
    /* float: left; */
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    list-style: none;
    margin-bottom: 5px;
    margin-right: 5px;
}

.calendar .dateList .ccc {
    color: #555962;
    background-color: #dfe2e7;
    font-weight: bold;
}

.calendar .dateList .red {
    background: #7e8da2;
    color: #fff;
}

.calendar .dateList .sun {}

.box {
    display: flex;
    justify-content: space-between;
    background: white;
    height: 100vh;
}

.left {
    padding: 20px;
    border-right: 1px solid #7e8da2;
    height: 100vh;
}

.right {
    flex: 1;
}

.emailBox {
    width: 150px;
    height: 150px;
    background: #e1e6ec;
    margin: 30px auto;
}

.navItem {
    color: #3b4149;
    cursor: pointer;
    font-size: 16px;
    border-bottom: 1px solid #7e8da2;
    padding-bottom: 10px;
}

.btn {
    /* background: #4a5360;
    color: white; */
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 30px;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
}

.rightTop {
    padding: 20px;
    padding-top: 10px;
    border-bottom: 1px solid #555962;
}

.rightTop div {
    color: #64b4d5;
    font-weight: bold;

}

.rightTable {
    padding: 20px;
}

.rightTable h3 {
    text-align: center;
}

.rightTable table {
    margin: auto;
    width: 600px;
}

.rightTable table{
    text-align: center;
}
.rightTable table td {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}
.rightTable table th {
    padding: 10px 0;
    background: #eff3f6;
    border-bottom: 1px solid #eee;
}

.rightTable table td div{
   display: inline-block;

}

.rightDesc {
    color: #95989f;
    font-size: 14px;
    line-height: 28px;
    padding: 20px;
}


.actionBtn {
    width: 100px;
    height: 30px;
    line-height: 30px;
    background: #474b57;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}