* {
    margin: 0;
    padding: 0;
    background-color: #0052a0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


form {
    display: block;
    position: relative;
}

.Login {
    background-color: #0052a0;
    padding: 50px;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* each block of the nav bar */
.navBlock{
    padding-left: 1.5em;
    padding-right: 0em;
}

.navButtons{
  background-color: lightblue;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.navButtons:hover,
.navButtons:focus {
  background-color: lightgreen;
  color: white;
}

